.sponsor-info {
  width: 100%;
  margin: auto;
  max-width: 1050px;
}

.sponsor-cast-info {
  margin: auto;
}

.diamond {
  margin-bottom: 3rem;
}

.diamond .row {
  margin: 0 auto;
}
.diamond .row a {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.diamond img {
  margin: 0 auto;
}

.gold {
  margin-bottom: 3rem;
}

.gold .row {
  /*margin: 0 auto;*/
  justify-content: center;
}

.gold .row a {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.silver {
  margin-bottom: 5.5rem;
}

.silver .row {
  /*margin: 0 auto 2rem auto;*/
}

.silver .row a {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.bronze .row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 5%;
}

.bronze .row a {
  width: 20%;
  display: flex;
  flex-direction: column;
}

/*
.um .row {
  margin: 0 auto 2rem auto;
}

.um .row a {
  width: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.um .row a img {
  margin: 0 auto;
}

.other .row {
  margin: 0 auto 2rem auto;
}

.other .row a {
  width: 20px;
  display: flex;
  flex-direction: column;
}

.other .row a:first-child {
  margin: 0 2.5% 0 auto;
}

.other .row a:last-child {
  margin: 0 auto 0 2.5%;
}

.other .row a:first-child img {
  margin-left: auto;
}

.other .row a:last-child img {
  margin-right: auto;
}
*/

.sponsor-info .row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 5%;
  flex-wrap: nowrap;
}

.sponsor-info .row img {
  width: 100%;
  margin: auto 0;
}

.sponsor-info a {
  transition: all 0.2s linear;
}

.sponsor-info a:hover {
  transform: scale(1.1);
}
